#tickerBox {
    max-height: 47px;
}

#customerDetail {
    color: white;
    padding-left: 1vw;
    font-family: Consolas, serif;
    font-weight: 700;
    font-size: 1.05em;
    text-decoration: none;

}


#customerPicture {
    background-color: black;
    border-color: black;
    font-family: Consolas, serif;
    margin-right: 4px;
    margin-left: 8px;
}

#customerPicture:active, #customerPicture:focus {
    box-shadow: none;
    border-color: darkslategray;
}

#customerPicture:hover {
    background-color: darkslategray;
    border-color: darkslategray;
}

#buttonDivider {
    border-left: 4px red solid;
    min-height: 40px;
    margin-right: 4px;
}

#portfolioButton {
    background-color: black;
    border-color: black;
    font-family: Consolas, serif;

}

#portfolioButton:hover {
    background-color: darkslategray;
    border-color: darkslategray;
}

#portfolioButton:active, #portfolioButton:focus {
    box-shadow: none;
    border-color: darkslategray;
}

#leftPanel {
    background-color: #242831;
    padding-left: 5px;
    padding-right: 5px;
}

#rightPanel {
    background-color: #2D323B;
    min-height: 400px;
    padding-left: 0;
    padding-right: 0;
}

#mainContentContain {
    margin: auto;
    height: 500px;
}

#t {
    height: 100vh;
    min-width: 1026px;

}

#footer {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: 700;
    font-size: 1em;
    font-family: Consolas, serif;
    border-top: 4px solid red;


}

#submitButton {
    font-family: Consolas, serif;
}

#websiteName {
    font-family: Consolas, serif;
    color: white;
}

#websiteName:hover {
    text-decoration: none;
}

body {
    background-color: #353C42 !important;
}

#selectInstrument {
    font-family: Consolas, serif;
    font-weight: 700;
    border-bottom: 3px solid red;
    color: white;
}

#selectInstrumentBottom{
    margin-top:10px;
    font-family: Consolas, serif;
    font-weight: 700;
    border-bottom: 3px solid red;
    color: white;
}

#portfolioValue {
    font-family: Consolas, serif;
    color: white;
}

#bitcoin {
    color: white;
    font-size: 2.5em;
    padding-left: 10px;
    padding-top: 2px;
}

#forBitcoin {
    padding-left: 15px;
    font-family: Consolas, serif;
}

#forEthereum {
    padding-left: 18px;
    font-family: Consolas, serif;
}

#forRipple {
    padding-left: 10px;
    font-family: Consolas, serif;
}

#forMonero {
    padding-left: 10px;
    font-family: Consolas, serif;
}

#guestBox{
    font-family: Consolas, serif;
    padding: 20px;
    color:white;
}

#pictureBox{
    padding-left:20px;
}

#newPanel{
    color: white;
    font-family: Consolas, serif;
    padding:20px;
}


#marketOver{
    font-size: 2.7em;
    font-family: Consolas, serif;
    font-weight: 900;
    border-bottom: 3px solid red;
    max-width: 375px;
}






