#mainContainer {
    max-width: 500px;

}

#username {
    color: #007DFF;
}

#password {
    color: #007DFF;
}

#verify-password {
    color: #007DFF;
}

#cancelLink {
    float: right;
}


#registerText {
    color: white;
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 20px;
}

#usernameLabel{
    color: white;
    font-weight: 600;
    font-size: 1.4em;
    filter: drop-shadow(0px 6px 5px slategrey);

}

#widgetSelectHeading{
    filter: drop-shadow(0px 6px 5px slategrey);
}
