#mainContainer {
    max-width: 500px;
}

#registerText {
    color: white;
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 20px;

}

#usernameLabel {
    color: white;
    font-weight: 600;
    font-size: 1.4em;
}

#bigProfileContain{
    background-color: darkslategray;
}


